<kt-portlet>
	<kt-portlet-body>
		<div id="print-section">
			<p style="text-align: center; font-size: large; font-weight: bold">YENİ ÇALIŞAN ÖN KAYIT</p>
			<br />
			<div style="overflow-y: hidden; overflow: auto; white-space: nowrap;">
				<style>
					table {
						border-collapse: collapse;
						width: 100%;
					}

					table, th, td {
						border: 0px solid black; /* Tablonun kenarlarını kalın yapar */
					}

					.form-check {
						text-align: center;
					}
				</style>
				<table>
				<tr>
					<td>
						<mat-form-field>
							<mat-label>Adı:</mat-label>
							<input matInput [(ngModel)]="ad">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Soyadı:</mat-label>
							<input matInput [(ngModel)]="soyad">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>T.C. Kimlik Nu:</mat-label>
							<input matInput class="tc-input" (keydown)="onKeyDown($event)" (input)="onInput($event)" maxlength="11" [(ngModel)]="tc">
							<mat-icon matSuffix>person</mat-icon>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Cep Telefonu:</mat-label>
							<input matInput [textMask]="{mask: utils.phoneMask}" [(ngModel)]="cep">
							<mat-icon matSuffix>phone</mat-icon>
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field class="mat-form-field-fluid">
							<input matInput [(ngModel)]="birthDate" [matDatepicker]="picker1" placeholder="Doğum Tarihi">
							<mat-datepicker-toggle matSuffix [for]="picker1" tabIndex="-1"></mat-datepicker-toggle>
							<mat-datepicker touchUi="false" #picker1></mat-datepicker>
							<mat-error>Doğum tarihi
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="mat-form-field-fluid">
							<input matInput [(ngModel)]="startDate" [matDatepicker]="picker2" placeholder="İşe Başlangıç Tarihi">
							<mat-datepicker-toggle matSuffix [for]="picker2" tabIndex="-1"></mat-datepicker-toggle>
							<mat-datepicker touchUi="false" #picker2></mat-datepicker>
							<mat-error>İşe Başlangıç tarihi
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Sigortalı Olduğu Şirket</mat-label>
							<mat-select [(value)]="selectedSirketId">
								<mat-option *ngFor="let attr of sirketList" [value]="attr.id">{{attr.label}}</mat-option>
							</mat-select>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Sigortalı Olduğu Unvan</mat-label>
							<mat-select [(value)]="selectedUnvanId">>
								<mat-option *ngFor="let attr of unvanList" [value]="attr.id">{{attr.label}}</mat-option>
							</mat-select>
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field>
							<mat-label>Eğitim Durumu</mat-label>
							<mat-select [(value)]="selectedEgitimId">>
								<mat-option *ngFor="let attr of egitimList" [value]="attr.id">{{attr.label}}</mat-option>
							</mat-select>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Askerlik Durumu</mat-label>
							<mat-select [(value)]="selectedAskerlikId">>
								<mat-option *ngFor="let attr of askerlikList" [value]="attr.id">{{attr.label}}</mat-option>
							</mat-select>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Cinsiyet</mat-label>
							<mat-select [(value)]="selectedCinsiyetId">>
								<mat-option *ngFor="let attr of cinsiyetList" [value]="attr.id">{{attr.label}}</mat-option>
							</mat-select>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Ehliyet Sınıfı</mat-label>
							<mat-select [(value)]="selectedEhliyetId">>
								<mat-option *ngFor="let attr of ehliyetList" [value]="attr.id">{{attr.label}}</mat-option>
							</mat-select>
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field>
						<mat-label>Mezun Olduğu Kurum </mat-label>
						<input matInput [(ngModel)]="mezunKurum">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
						<mat-label>Mezun Olduğu Bölüm </mat-label>
						<input matInput [(ngModel)]="mezunBolum">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>IBAN </mat-label>
							<input matInput [textMask]="{mask: utils.ibanMask}" [(ngModel)]="iban">
							<mat-icon matSuffix>bank</mat-icon>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Kan Grubu </mat-label>
							<input matInput [(ngModel)]="kangrubu">
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field>
							<mat-label>Acil Durumda Ulaşılacak Kişi (Ad Soyad)</mat-label>
							<input matInput [(ngModel)]="acilAdSoyad">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Acil Durumda Ulaşılacak Kişi (Yakınlık Derecesi)</mat-label>
							<input matInput [(ngModel)]="acilYakinlik">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Acil Durumda Ulaşılacak Kişi (Tel Nu.)</mat-label>
							<input matInput [textMask]="{mask: utils.phoneMask}" [(ngModel)]="acilNo">
							<mat-icon matSuffix>phone</mat-icon>
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field>
							<mat-label>Doğduğu İl </mat-label>
							<input matInput [(ngModel)]="dogIl">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Doğduğu İlçe </mat-label>
							<input matInput [(ngModel)]="dogIlce">
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-label>Adres</mat-label>
					</td>
					<td>
						<mat-label>Askerlik Muafiyet Sebebi (Muaf ise) </mat-label>
					</td>
					<td>
						<mat-label>Açıklama </mat-label>
					</td>
				</tr>
					<tr>
					<td>
						<textarea [(ngModel)]="acikAdres"></textarea>
					</td>
					<td>
						<textarea [(ngModel)]="muaf"></textarea>
					</td>
					<td>
						<textarea [(ngModel)]="aciklamaAlani"></textarea>
					</td>
				</tr>
					<tr>
						<td>
							<mat-label>Mesleki Yeterlilik Belgesi </mat-label>
						</td>
						<td>
							<mat-checkbox [(ngModel)]="mybelgesi"></mat-checkbox>
						</td>
					</tr>
					<tr>
						<td>
							<mat-label>Emekli </mat-label>
						</td>
						<td>
							<mat-checkbox [(ngModel)]="emekli"></mat-checkbox>
						</td>
					</tr>
					<tr>
						<td>
							<mat-label>Engelli </mat-label>
						</td>
						<td>
							<mat-checkbox [(ngModel)]="engelli"></mat-checkbox>
						</td>
					</tr>
					<tr>
						<td>
							<mat-label>Eş Çalışma </mat-label>
						</td>
						<td>
							<mat-checkbox [(ngModel)]="escalisma"></mat-checkbox>
						</td>
					</tr>
					<tr>
						<td>
							<mat-label>Türkiye Cumhuriyeti Vatandaşlığı </mat-label>
						</td>
						<td>
							<mat-checkbox [(ngModel)]="tcv"></mat-checkbox>
						</td>
					</tr>
			</table>
		</div>
		</div>
		<div class="button-container" style="display: flex; justify-content: center; gap: 10px;">
			<button type="button" mat-raised-button color="primary" (click)="onYesClick()" matTooltip="Tamam">
				Onayla
			</button>
			<button type="button" mat-raised-button color="warn" (click)="onNoClick()" matTooltip="Vazgeç">
				Vazgeç
			</button>
		</div>
	</kt-portlet-body>
</kt-portlet>
