kt-ikreport-manager-dialog {
	.kt-form .kt-form__group {
		padding-top: unset;
		padding-bottom: unset;
	}

	.upload-numbering {
		margin-top: 9px;
	}

	.flex-row-between {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.flex-row-start {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
}
table.table-striped {
	border-collapse: collapse;
	width: 90%;

	td {
		border: 2px solid #ddd;
		padding: 8px;
		text-align: left;
		vertical-align: middle;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	th {
		padding-top: 12px;
		padding-bottom: 12px;
		background-color: #4CAF50;
		color: white;
	}

	td:nth-of-type(1) {
		width: 10%;
	}

	td:nth-of-type(2) {
		width: 80%;
	}

	td:nth-of-type(3) {
		width: 10%;
	}
}


