<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				<br/>
				İlgili faturayı bağlamak istediğiniz SATIN ALMA KODU'NU SEÇİNİZ.
				<div class="form-container" [hidden]="onayla === true">
					<div class="form-group">
						<label for="satinalma-kodu">Satın Alma Kodu</label>
						<select id="satinalma-kodu" class="form-control" [(ngModel)]="selectedStoreId" (change)="onStoreSelectionChange()">
							<option *ngFor="let store of storeList" [value]="store.store.id">{{ store.stcode }}</option>
						</select>
					</div>
				</div>
			</h3>
		</ng-container>
	</kt-portlet-header>
	<ng-container>
		<div class="table-container">
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Satın Alma Kodu</th>
					<th scope="col">Satın Alma Sorumlusu</th>
					<th scope="col">Onaycı</th>
					<th scope="col">Tedarikçi</th>
					<th scope="col">Tutar</th>
					<th scope="col">Para Birimi</th>
					<th scope="col">Onay Tarihi</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let product of filteredProducts">
					<td>{{ product.stcode }}</td>
					<td>{{ product.owner.firstName + ' ' + product.owner.lastName }}</td>
					<td>{{ product.secondAssigner.firstName + ' ' + product.secondAssigner.lastName }}</td>
					<td>{{ product.customer.name }}</td>
					<td>{{ formatCurrency(product.fuelTl) }}</td>
					<td>{{ product.moneyType.label }}</td>
					<td>{{ formatDate(product.okeyFirst) }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</ng-container>
	<kt-portlet-body>
		<div class="button-container">
			<button [hidden]="onayla === true" type="button" class="btn btn-primary" (click)="onYesClick()" data-toggle="tooltip" title="Tamam">
				Onayla
			</button>
			<div [hidden]="onayla === false" class="loading-container">
				<div class="spinner-border text-primary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
				<span class="loading-text">İŞLEM YAPILIYOR...</span>
			</div>
			<button [hidden]="onayla === true" type="button" class="btn btn-danger" (click)="onNoClick()" data-toggle="tooltip" title="Vazgeç">
				Vazgeç
			</button>
		</div>
	</kt-portlet-body>
</kt-portlet>
