<kt-portlet [ngClass]="{ 'kt-portlet--body-progress' : false }">
	<kt-portlet-header>
		<ng-container ktPortletTitle>
			<span class="kt-portlet__head-icon kt-hide" style="color:#1d2129">
				<i class="la la-gear"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				Şablonu Paylaş
			</h3>
		</ng-container>
		<ng-container ktPortletTools>
			<div>
				<button type="button" class="close" mat-dialog-close matTooltip="Kapat">
					<span>&times;</span>
				</button>
			</div>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<mat-form-field class="mat-form-field-fluid">
			<mat-select placeholder="Paylaşılacak Kullanıcı veya Gruplar" [(ngModel)]="usersToShare" [multiple]="true">
				<mat-option *ngFor="let user of usersList" [value]="user.id">{{user.fullName}}</mat-option>
			</mat-select>
		</mat-form-field>
	</kt-portlet-body>
	<kt-portlet-footer>
		<div class="kt-form__actions kt-form__actions--solid" style="padding: 18px; padding-bottom: 0px">
			<div class="row text-right">
				<div class="col-lg-12">
					<button type="button" mat-raised-button (click)="onSubmit()">Tamam</button>
				</div>
			</div>
		</div>
	</kt-portlet-footer>
</kt-portlet>