<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTools>
			<button mat-icon-button class="btn btn-label-brand kt-margin-l-10" color="primary" matTooltip="Yazdır" (click)="print()">
				<mat-icon>print</mat-icon>
			</button>
			<button mat-icon-button class="btn btn btn-danger kt-margin-l-10" color="warn" matTooltip="Kapat" (click)="onNoClick()">
				<mat-icon>exit_to_app</mat-icon>
			</button>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
	</kt-portlet-body>
</kt-portlet>
