<div>
<mat-table [dataSource]="files">
	<ng-container matColumnDef="fileName">
		<mat-header-cell *matHeaderCellDef>Dosya Adı</mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row}}&nbsp;&nbsp;&nbsp;
		</mat-cell>
	</ng-container>
	<ng-container matColumnDef="actions">
		<mat-header-cell *matHeaderCellDef>Dosya İndirme</mat-header-cell>
		<mat-cell *matCellDef="let row">
			<button mat-icon-button color="primary" [disabled]="checkDownload" matTooltip="İndir" (click)="download(row, $event)">
				<mat-icon>archive</mat-icon>
			</button>
		</mat-cell>
	</ng-container>
	<mat-header-row *matHeaderRowDef="[ 'fileName', 'actions']">
	</mat-header-row>
	<mat-row [ngClass]="{gray: even}" *matRowDef="let row; let even = even; columns: ['fileName', 'actions'];"></mat-row>
</mat-table>
</div>	