<div ngbDropdown placement="bottom-right" autoClose="outside" class="kt-header__topbar-item">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper" (click)="downloadFile()">
        <span class="kt-header__topbar-icon"
			  [ngClass]="{'kt-header__topbar-icon--brand':  iconType === 'brand'}">
            <ng-container *ngIf="useSVG; else useFontIcon">
                <span class="kt-svg-icon" [inlineSVG]="icon"
					  [ngClass]="{'kt-svg-icon--brand':  iconType === 'brand'}"></span>
            </ng-container>
            <ng-template #useFontIcon>
                <i [ngClass]="icon"></i>
            </ng-template>
        </span>
	</div>
</div>
