<ng-container *ngIf="utils.hasOperation('IK_Goruntuleme')">
<kt-grid #mainGrid [entity]="model.name" owner="HIERARCHY_D" [showButtons]="true" (rowClick)="rowClicked($event)" (change)="listChange()" [buttons]="buttons" [hidden]="current"></kt-grid>

<ng-container *ngIf="current">
	<kt-portlet>
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<button mat-icon-button mat-button matTooltip="Geri dön" (click)="resetCurrent()" class="kt-margin-r-5">
					<mat-icon>keyboard_arrow_left</mat-icon>
				</button>
				<h3 class="kt-portlet__head-title">
					<span>Personel Detayı</span>
				</h3>
			</ng-container>
			<ng-container ktPortletTools>
				<div class="page-header-buttons">
					<button mat-icon-button class="btn btn-label-brand kt-margin-l-10" color="primary" matTooltip="İzin Bilgileri" (click)="showHolidayDetail()">
						<mat-icon>bookmark</mat-icon>
					</button>
					<button *ngIf="this.baseService.getUserId() === this.current.id" type="button" matTooltip="İstifa Et" color="warn" class="btn btn-danger kt-margin-l-10" mat-icon-button (click)="resign()">
						<mat-icon>error</mat-icon>
					</button>
					<!--<button *ngIf="this.baseService.getUser().unvan.id === 'Unvanlar_Ist_Amr' || this.baseService.getUser().unvan.id === 'Unvanlar_Ist_On'
			|| this.baseService.getUser().unvan.id === 'Unvanlar_Isl_Mud' || this.baseService.getUser().id === 2000 || this.baseService.getUser().id === 2
			|| this.baseService.getUser().unvan.id === 'Unvanlar_Ins_Muh' || this.baseService.getUser().unvan.id === 'Unvanlar_Fin_Den'
			|| this.baseService.getUser().unvan.id === 'Unvanlar_Yon_Ast' || this.baseService.getUser().unvan.id === 'Unvanlar_Sts_Mud'
			|| this.baseService.getUser().unvan.id === 'Unvanlar_IK_Uzm' || this.baseService.getUser().unvan.id === 'Unvanlar_On_Muh'" type="button" matTooltip="İşten Çıkış Anketi" color="warn" class="btn btn-danger kt-margin-l-10" mat-icon-button (click)="showResign()">
						<mat-icon>assignment</mat-icon>
					</button> -->
					<button *ngIf="this.baseService.getUser().id === 2000 || this.baseService.getUser().id === 2"
							type="button" matTooltip="İşten Çıkış Anketi" color="warn" class="btn btn-danger kt-margin-l-10"
							mat-icon-button (click)="showResign()">
						<mat-icon>assignment</mat-icon>
					</button>
				</div>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-detail [(current)]="current" [model]="model" naked="true"></kt-detail>
		</kt-portlet-body>
	</kt-portlet>
	<!--<div *ngIf="this.baseService.getUserId() === 2 || this.baseService.getUserId() === 2000"> -->
	<kt-portlet>
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<h3 class="kt-portlet__head-title">
					Dosyalar
				</h3>
			</ng-container>
			<!-- <ng-container ktPortletTools>
				<button (click)="ikfileGrid.add()" mat-raised-button matTooltip="Yeni dosya oluştur" type="button">
					Yeni Dosya
				</button>
			</ng-container> -->
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-grid #ikfileGrid entity="Ikfile" mode="Compact" [defaultFilter]="defaultFilter" [defaultValues]="defaultValues" (rowClick)="ikfileRowClicked($event, true)"></kt-grid>
		</kt-portlet-body>
	</kt-portlet>
	<!--</div> -->
	<kt-portlet>
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<h3 class="kt-portlet__head-title">
					İzinler
				</h3>
			</ng-container>
			 <ng-container ktPortletTools>
				<button (click)="holidayGrid.add()" mat-raised-button matTooltip="Yeni İzin Talebi Oluştur" type="button">
					İzin Talebi
				</button>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-grid #holidayGrid [showButtons]="true" entity="Holiday" mode="Compact" [defaultFilter]="defaultFilter" [defaultValues]="defaultValues" (rowClick)="holidayRowClicked($event, true)"></kt-grid>
		</kt-portlet-body>
	</kt-portlet>

	<kt-portlet *ngIf="this.baseService.getUserId() === 80 || this.baseService.getUserId() === 82 || this.baseService.getUserId() === 2">
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<h3 class="kt-portlet__head-title">
					Zimmetler
				</h3>
			</ng-container>
			<ng-container ktPortletTools>
				<button [hidden]="this.baseService.getUserId() !== 2" (click)="acceptanceGrid.add()" mat-raised-button matTooltip="Yeni Zimmet Oluştur" type="button">
					Yeni Zimmet
				</button>
				<button class="btn btn-danger" (click)="print()" mat-raised-button matTooltip="Zimmet Belgesi Yazdır" type="button">
					Zimmet Belgesi Yazdır
				</button>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-grid #acceptanceGrid [showButtons]="true" entity="UserAcceptance" mode="Compact" [defaultFilter]="defaultFilter" [defaultValues]="defaultValues" (rowClick)="acceptanceRowClicked($event, true)"></kt-grid>
		</kt-portlet-body>
	</kt-portlet>

	<!--<kt-portlet>
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<h3 class="kt-portlet__head-title">
					Mazeret İzinleri
				</h3>
			</ng-container>
			<ng-container ktPortletTools>
				<button (click)="exuseholidayGrid.add()" mat-raised-button matTooltip="Yeni Mazeret İzni Talebi Oluştur" type="button">
					Mazeret İzni Talebi
				</button>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-grid #exuseholidayGrid [showButtons]="true" entity="ExuseHoliday" mode="Compact" [defaultFilter]="defaultFilter" [defaultValues]="defaultValues" (rowClick)="exuseholidayRowClicked($event, true)"></kt-grid>
		</kt-portlet-body>
	</kt-portlet> -->

	<!--<mat-expansion-panel style="margin-bottom: 20px" (opened)="getRolesList()">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Rolleri düzenlemek için tıklayın
			</mat-panel-title>
			<mat-panel-description>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-selection-list [(ngModel)]="userRoles">
			<mat-list-option *ngFor="let role of rolesList" [value]="role">
				{{role.id}}
			</mat-list-option>
		</mat-selection-list>
		<mat-action-row>
			<button (click)="setUserRoles()" mat-raised-button matTooltip="Rolleri kaydet" color="primary" type="button">
				<i class="la la-save" style="margin-top:-2px;"></i>&nbsp;Kaydet
			</button>
		</mat-action-row>
	</mat-expansion-panel>

	<mat-expansion-panel style="margin-bottom: 20px" (opened)="getGroupsList()">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Bağlı olduğu üst grupları düzenlemek için tıklayın
			</mat-panel-title>
			<mat-panel-description>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-selection-list [(ngModel)]="userGroups">
			<mat-list-option *ngFor="let group of groupsList" [value]="group">
				{{group.fullName}}
			</mat-list-option>
		</mat-selection-list>
		<mat-action-row>
			<button (click)="setUserGroups()" mat-raised-button matTooltip="Kaydet" color="primary" type="button">
				<i class="la la-save" style="margin-top:-2px;"></i>&nbsp;Kaydet
			</button>
		</mat-action-row>
	</mat-expansion-panel>

	<mat-expansion-panel style="margin-bottom: 20px">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Bağlı olan kullanıcı ve grupları listelemek için tıklayın
			</mat-panel-title>
			<mat-panel-description>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-list>
			<mat-list-item *ngFor="let child of current.members">
				{{child.instanceName}}
			</mat-list-item>
		</mat-list>
	</mat-expansion-panel>
</ng-container>

<ng-template #hierarchyModal let-c="close" let-d="dismiss">
	<div id="print-section">
		<div class="modal-header">
			<h4 class="modal-title">Hiyerarşi</h4>
			<button type="button" class="close no-print" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<ngx-treeview [config]="hierarchyTreeConfig" [items]="hierarchyTreeItems" [itemTemplate]="itemTemplate">
			</ngx-treeview>
		</div>
	</div>
	<div class="modal-footer">
		<button (click)="printHierarchy()" mat-raised-button matTooltip="Yazdır" color="primary" type="button">
			Yazdır
		</button>
	</div>
</ng-template>

<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
	<div class="form-inline row-item">
		<i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa" [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i>
		<label class="form-check-label">{{ item.text }}</label>
	</div>
</ng-template> -->
</ng-container>
</ng-container>
