.contacts-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px; /* Satırlar arasındaki boşluğu buradan ayarlayabilirsiniz */
	overflow-x: auto;
	margin: 7px 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gölgelendirme */
}

.contacts-table th, .contacts-table td {
	padding: 15px;
	text-align: center;
	border: none;
	border-bottom: 1px solid #ddd;
}

th {
	text-align: center;
	border-bottom: 2px solid #ddd;
	font-weight: bold; /* Başlıkları kalın yap */
	background-color: #0f695f; /* Başlık arka plan rengi */
	color: #fff; /* Başlık metin rengi */
}

tbody {
	font-size: 14px;
}

tr {
	background-color: #f9f9f9; /* Satır arka plan rengi */
	margin-bottom: 10px; /* Her satır arasına boşluk */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
}

@media (max-width: 768px) {
	.contacts-table th, .contacts-table td {
		display: block;
		text-align: left;
		border: none;
		border-bottom: 1px solid #ddd;
	}

	th {
		padding: 12px;
	}
}
