<!-- begin:: Header Topbar -->
<div class="kt-header__topbar kt-grid__item">
	<!-- <kt-cart [bgImage]="'./assets/media/misc/bg-1.jpg'"></kt-cart>
	<kt-language-selector></kt-language-selector> -->
	<!--<kt-cart [bgImage]="'./assets/playstore.png'">></kt-cart>-->
	<kt-top-bar-search *ngIf="utils.hasOperation('Talep_Goruntuleme')"></kt-top-bar-search>
	<!-- <kt-notification [bgImage]="'./assets/media/misc/bg-1-.jpg'" [pulse]="true" [pulseLight]="true" [skin]="'dark'"></kt-notification>
	<div class="kt-header__topbar-item kt-header__topbar-item--user" routerLink="/customer/map" matTooltip="Harita">
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon">
				<i [ngClass]="'flaticon2-map'"></i>
			</span>
		</div>
	</div> -->
	<!-- <div class="kt-header__topbar-item kt-header__topbar-item--user" routerLink="/task/wizard" matTooltip="Kolay Ajanda">
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon">
				<i [ngClass]="'flaticon-event-calendar-symbol'"></i>
			</span>
		</div>
	</div>-->

	<!--<div class="kt-header__topbar-item kt-header__topbar-item--user" routerLink="/activity/wizard" matTooltip="Hızlı Aktivite">
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon">
				<i [ngClass]="'flaticon2-rocket'"></i>
			</span>
		</div>
	</div> -->
	<div *ngIf="this.utils.hasOperation('Talep_Goruntuleme')" class="kt-header__topbar-item kt-header__topbar-item--user" routerLink="/document" matTooltip="Dokümanlar">
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon">
				<i [ngClass]="'flaticon-doc'"></i>
			</span>
		</div>
	</div>
	<div class="kt-header__topbar-item kt-header__topbar-item--user" routerLink="/contact-information" matTooltip="Güncel İletişim Bilgileri">
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon">
				<i [ngClass]="'flaticon-comment'"></i>
			</span>
		</div>
	</div>
	<div class="kt-header__topbar-item kt-header__topbar-item--user" routerLink="/announcement" matTooltip="Duyurular">
		<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon">
				<i [ngClass]="'flaticon2-notification'"></i>
			</span>
		</div>
	</div>
	<kt-administration *ngIf="utils.hasPermission('User', 'update')" [bgImage]="'./assets/media/misc/bg-2.jpg'" [skin]="'dark'"></kt-administration>
	<kt-user-profile2 matTooltip="Çıkış"></kt-user-profile2>
	 <div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-placement="bottom" ngbTooltip="Quick panel">
		<!--<div class="kt-header__topbar-wrapper">
			<span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn"><i class="flaticon-squares"></i></span>
		</div> -->
	</div>
</div>
<!-- end:: Header Topbar -->
