<kt-portlet>
	<kt-portlet-body>
		<div id="print-section">
			<p style="text-align: center; font-size: large; font-weight: bold">YENİ ÖDEME EKLE</p>
			<br />
			<div style="overflow-y: hidden; overflow: auto; white-space: nowrap;">
				<style>
					table {
						border-collapse: collapse;
						width: 100%;
					}

					table, th, td {
						border: 0px solid black; /* Tablonun kenarlarını kalın yapar */
					}

					.form-check {
						text-align: center;
					}
				</style>
				<table>
				<tr>
					<!--<td>
						<mat-form-field>
							<mat-label>Ödeme Tipi</mat-label>
							<mat-select [(value)]="selectedTypeId">
								<mat-option *ngFor="let attr of typeList" [value]="attr.id">{{attr.label}}</mat-option>
							</mat-select>
						</mat-form-field>
					</td>-->
					<td>
						<mat-form-field>
							<mat-label>Vade Tarihi</mat-label>
							<input matInput [matDatepicker]="picker" placeholder="Vade Tarihi" [(ngModel)]="selectedDate" (ngModelChange)="filterOptions('type')">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
					</td>
					<td>
						<mat-form-field>
							<mat-label>Ödenecek Tutar</mat-label>
							<input matInput [textMask]="{mask: utils.currencyMask}" [(ngModel)]="selectedAmount">
						</mat-form-field>

					</td>
				</tr>
					<tr>
					<td>
						<mat-form-field style="width: 100%">
							<mat-label>Açıklama</mat-label>
							<input matInput [(ngModel)]="description">
							<mat-icon matSuffix>credit_card</mat-icon>
						</mat-form-field>
					</td>

					<!--<td>
						<mat-form-field>
							<mat-label>Kur Tarihi</mat-label>
							<mat-select [(value)]="selectedExchangeId">
								<mat-option *ngFor="let attr of exchangeList" [value]="attr.id">{{attr.label}}</mat-option>
							</mat-select>
						</mat-form-field>
					</td>-->
				</tr>
			</table>
		</div>
		</div>
		<div class="button-container" style="display: flex; justify-content: center; gap: 10px;">
			<button type="button" mat-raised-button color="primary" (click)="onYesClick()" matTooltip="Tamam">
				Onayla
			</button>
			<button type="button" mat-raised-button color="warn" (click)="onNoClick()" matTooltip="Vazgeç">
				Vazgeç
			</button>
		</div>
	</kt-portlet-body>
</kt-portlet>
