<kt-portlet [ngClass]="{ 'kt-portlet--body-progress' : false, 'kt-portlet--body-progress-overlay' : baseService.loadingSubject | async }"
	style="min-width: 280px;max-width: 840px;" xmlns="http://www.w3.org/1999/html">
	<kt-portlet-header>
		<ng-container ktPortletTitle>
			<span class="kt-portlet__head-icon kt-hide" style="color:#1d2129">
				<i class="la la-gear"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				{{model.title}} Düzenleme/Kaydetme
			</h3>
		</ng-container>
		<ng-container ktPortletTools>
			<div>
				<button mat-button matTooltip="IBAN Ekle" *ngIf="model.name === 'InvoiceList' || model.name === 'PaymentOrder'" (click)="addIban()">
					<i class="fas fa-credit-card" style="margin-top:-2px;"></i>&nbsp;IBAN Ekle
				</button>
				<button class="btn btn-success" mat-button matTooltip="Fatura Detayları" *ngIf="model.name === 'InvoiceList'" (click)="showInvoice()">
					<i class="fas fa-glasses" style="margin-top:-2px;"></i>&nbsp;Fatura Detayları
				</button>
				<button mat-button matTooltip="Haritada Bul" *ngIf="model.apiName == 'Customer'" (click)="leafletLocateOnMap(customerMapModal)">
					<i class="fa fa-map-marker" style="margin-top:-2px;"></i>&nbsp;Haritada Bul
				</button>
				<ng-container *ngIf="model.apiName === 'Activity' && entity.approvalStatusId &&
								utils.makeIntegers(entity.approvalStatusId) === baseService.getAttrByVal('Activity.ApprovalStatus', 'Onay Bekliyor').id">
					<button style="margin-right:5px;" mat-button mat-raised-button matTooltip="Onayla" (click)="approve()" class="btn-success">
						<i class="fa fa-check" style="margin-top:-2px;"></i>&nbsp;Onayla
					</button>
					<button style="margin-right:5px;" mat-button mat-raised-button matTooltip="Reddet" (click)="reject()" class="btn-danger">
						<i class="fa fa-times" style="margin-top:-2px;"></i>&nbsp;Reddet
					</button>
				</ng-container>

				<button *ngIf="model.apiName == 'Activity' && entity.id !== undefined" style="margin-right:5px;" mat-button matTooltip="Check in" [disabled]="entityForm.controls.checkInTime.value !== undefined" (click)="checkInOrOut(true)">
					<i class="fa fa-map-marked" style="margin-top:-2px;"></i>&nbsp;Giriş
				</button>
				<button *ngIf="model.apiName == 'Activity' && entity.id !== undefined" style="margin-right:16px;" mat-button matTooltip="Check out" [disabled]="entityForm.controls.checkOutTime.value !== undefined || !(entityForm.controls.checkInTime.value !== undefined)" (click)="checkInOrOut(false)">
					<i class="fa fa-map-marked-alt" style="margin-top:-2px; "></i>&nbsp;Çıkış
				</button>
				<button type="button" class="close" mat-dialog-close matTooltip="Kapat">
					<span>&times;</span>
				</button>
			</div>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<form class="kt-form" [formGroup]="entityForm">

			<div class="kt-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<kt-dialog-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				Formda hatalar var. Lütfen düzeltip tekrar deneyin.
			</kt-dialog-alert>
			<div class="form-group kt-form__group row">
				<ng-container *ngFor="let field of model.fields">
					<div *ngIf="['text','email','number'].indexOf(field.fieldType) > -1 && field.title !== 'Kullanılan İzin Günü'" [hidden]="field.readOnly || !field.active || (this.model.name === 'User' && this.baseService.getUserId() !== 2 && (field.name === 'login' || field.name === 'email' || field.name === 'password' || field.name === 'eposta'))" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="{{field.fieldType}}" matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" [errorStateMatcher]="matcher" />
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['url'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" pattern="^(https?://)?([a-zA-Z0-9]([a-zA-ZäöüÄÖÜ0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$" />
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['phone'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" [textMask]="{mask: utils.phoneMask}" matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" />
							<mat-icon matSuffix>phone</mat-icon>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['iban'].indexOf(field.fieldType) > -1" class="col-xs-12 col-md-6 col-lg-6 col-xl-6 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" [textMask]="{mask: utils.ibanMask}" matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" />
							<mat-icon matSuffix>account_balance</mat-icon>
							<mat-error *ngIf="field.required">{{field.title}} <strong>zorunludur</strong></mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['disabled'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" [textMask]="{mask: utils.phoneMask}" matInput readonly [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" />
							<mat-icon matSuffix>calculator</mat-icon>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="this.model.apiName === 'buys' && ['currency'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" [textMask]="{mask: utils.currencyMask2}" matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" />
							<mat-icon matSuffix>money</mat-icon>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="this.model.apiName !== 'buys' && ['currency'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active || ( field.name === 'payTl' && this.gizlilik2 === false)" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" [textMask]="{mask: utils.currencyMask}" matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" (ngModelChange)="filterOptions(field, $event);"/>
							<mat-icon matSuffix>money</mat-icon>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['percentage'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" [textMask]="{mask: utils.percentageMask}" matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" />
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['integer'].indexOf(field.fieldType) > -1 && field.title !== 'Kullanılan İzin Günü'" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" [textMask]="{mask: utils.integerMask}" matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" (focus)="filterOptions(field, $event)" (ngModelChange)="filterOptions(field, $event); fieldChange(field, $event)">/>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['textarea'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-lg-12 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<textarea matInput [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" [errorStateMatcher]="matcher"></textarea>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['select'].indexOf(field.fieldType) > -1 && field.name !== 'taskType' && !((field.readOnly || !field.active || ( field.name === 'exchange' && this.gizlilik === false) ) || (field.name === 'haftalikGun' && (this.baseService.getIzinCheck() === false && !(this.baseService.getRoleId() === 'ROLE_MAVI' || this.baseService.getRoleId() === 'ROLE_BEYAZ_MAVI')) || (this.baseService.getIzinCheck() === true && (this.baseService.getRoleId() === 'ROLE_MAVI' || this.baseService.getRoleId() === 'ROLE_BEYAZ_MAVI'))))" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" (ngModelChange)="filterOptions(field, $event);" [multiple]="field.multiple">
								<mat-option *ngFor="let option of baseService.getAttr(field.attributeName)?.values" [value]="option.id">{{option.label}}</mat-option>
							</mat-select>
							<mat-error *ngIf="field.required">{{field.title}} <strong>zorunludur</strong></mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['select'].indexOf(field.fieldType) > -1 && field.name === 'taskType' && !(field.readOnly || !field.active)" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<mat-select [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" (ngModelChange)="filterOptions(field, $event);" [multiple]="field.multiple">
								<mat-option *ngFor="let option of konularList" [value]="option.id">{{option.label}}</mat-option>
							</mat-select>
							<mat-error *ngIf="field.required">{{field.title}} <strong>zorunludur</strong></mat-error>
						</mat-form-field>
					</div>


					<div *ngIf="['object'].indexOf(field.fieldType) > -1 && field.name !== 'iban'" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" autocomplete="disabled" #objectSelectInput [placeholder]="field.title + (field.required ? ' *' : '')" matInput formControlName="{{field.name}}" [matAutocomplete]="auto" (focus)="filterOptions(field, $event)" (ngModelChange)="filterOptions(field, $event); fieldChange(field, $event)">
							<button mat-button *ngIf="entityForm.controls[field.name].value && entityForm.controls[field.name].value.id; else searchIcon" matSuffix mat-icon-button aria-label="Clear" (click)="clearObjectSelect(field, objectSelectInput)">
								<mat-icon>close</mat-icon>
							</button>
							<ng-template #searchIcon>
								<button mat-button matSuffix mat-icon-button aria-label="Search">
									<mat-icon>search</mat-icon>
								</button>
							</ng-template>
							<mat-autocomplete #auto="matAutocomplete" [displayWith]="objectDisplay.bind(this, field)">
								<mat-option *ngFor="let option of filteredOptionss[field.name]" [value]="option">
									{{option['instanceName']}}</mat-option>
							</mat-autocomplete>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['object'].indexOf(field.fieldType) > -1 && field.name === 'iban'" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="text" autocomplete="disabled" #objectSelectInput [placeholder]="field.title + (field.required ? ' *' : '')" matInput formControlName="{{field.name}}" [matAutocomplete]="auto" (focus)="filterOptions(field, $event)" (ngModelChange)="filterOptions(field, $event); fieldChange(field, $event)">
							<button mat-button *ngIf="entityForm.controls[field.name].value && entityForm.controls[field.name].value.id; else searchIcon" matSuffix mat-icon-button aria-label="Clear" (click)="clearObjectSelect(field, objectSelectInput)">
								<mat-icon>close</mat-icon>
							</button>
							<ng-template #searchIcon>
								<button mat-button matSuffix mat-icon-button aria-label="Search">
									<mat-icon>search</mat-icon>
								</button>
							</ng-template>
							<mat-autocomplete #auto="matAutocomplete" [displayWith]="objectDisplay.bind(this, field)">
								<mat-option *ngFor="let option of filteredOptionss[field.name]" [value]="option">
									{{option['instanceName']}}    |    {{option['moneyType'].label}}</mat-option>
							</mat-autocomplete>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div *ngIf="['boolean'].indexOf(field.fieldType) > -1" [hidden]="(field.readOnly || !field.active) || (model.name === 'Holiday' && (field.name === 'haftalikIzin' || !(this.baseService.getRoleId() === 'ROLE_MAVI' || this.baseService.getRoleId() === 'ROLE_BEYAZ_MAVI' || this.baseService.getIzinCheck())))"
						 class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-checkbox formControlName="{{field.name}}">{{field.title + (field.required ? ' *' : '')}}
						</mat-checkbox>
					</div>
					<div *ngIf="['date'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input matInput [matDatepicker]="picker" [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" (ngModelChange)="fieldChangeTime(field, $event);">
							<mat-datepicker-toggle matSuffix [for]="picker" tabIndex="-1"></mat-datepicker-toggle>
							<mat-datepicker touchUi="false" #picker></mat-datepicker>
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div *ngIf="['time'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<div class="row">
							<div class="col-md-9">
								<mat-form-field class="mat-form-field-fluid">
									<input matInput [matDatepicker]="picker" [placeholder]="field.title + (field.required ? ' *' : '')" formControlName="{{field.name}}" (focus)="picker.open()">
									<mat-datepicker-toggle matSuffix [for]="picker" tabIndex="-1">
									</mat-datepicker-toggle>
									<mat-datepicker touchUi="false" #picker>
									</mat-datepicker>
									<mat-error *ngIf="field.required">{{field.title}}
										<strong>zorunludur</strong>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="col-md-3">
								<div style="width: 45%; float: left;">
									<div *ngIf="this.model.apiName !== 'buys' && this.model.apiName !== 'stores' && this.model.apiName !== 'holidays'" [hidden]="this.model.apiName === 'users' || this.model.apiName === 'invoice_lists' || this.model.apiName === 'payment_orders' || this.model.apiName === 'fuellimits' || this.model.apiName === 'spends'">
									<mat-form-field class="mat-form-field-fluid">
										<!-- <input type="text" [textMask]="{mask: utils.hourMask}" matInput placeholder="SS" formControlName="{{field.name + 'Hour'}}" /> -->
										<mat-select placeholder="SS" formControlName="{{field.name + 'Hour'}}">
											<mat-option *ngFor="let option of [8,9,10,11,12,13,14,15,16,17,18]" [value]="option">
												{{option.toString().padStart(2, '0')}}
											</mat-option>
										</mat-select>
									</mat-form-field>
									</div>
									<div *ngIf="this.model.apiName === 'holidays'">
										<mat-form-field class="mat-form-field-fluid">
											<!-- <input type="text" [textMask]="{mask: utils.hourMask}" matInput placeholder="SS" formControlName="{{field.name + 'Hour'}}" /> -->
											<mat-select disabled="true" placeholder="SS" formControlName="{{field.name + 'Hour'}}">
												<mat-option *ngFor="let option of [8,9,10,11,12,13,14,15,16,17,18]" [value]="option">
													{{option.toString().padStart(2, '0')}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
								<div style="width: 45%; float: left;" *ngIf="this.model.apiName !== 'buys' && this.model.apiName !== 'stores' && this.model.apiName !== 'holidays'" [hidden]="this.model.apiName === 'users' || this.model.apiName === 'invoice_lists' || this.model.apiName === 'payment_orders' || this.model.apiName === 'fuellimits' || this.model.apiName === 'spends'">
									<mat-form-field class="mat-form-field-fluid">
										<!-- <input type="text" [textMask]="{mask: utils.hourMask}" matInput placeholder="DD" formControlName="{{field.name + 'Minute'}}" /> -->
										<mat-select placeholder="DD" formControlName="{{field.name + 'Minute'}}">
											<mat-option *ngFor="let option of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59]" [value]="option">
												{{option.toString().padStart(2, '0')}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div style="width: 45%; float: left;" *ngIf="this.model.apiName === 'holidays'">
									<mat-form-field class="mat-form-field-fluid">
										<!-- <input type="text" [textMask]="{mask: utils.hourMask}" matInput placeholder="DD" formControlName="{{field.name + 'Minute'}}" /> -->
										<mat-select disabled="true" placeholder="DD" formControlName="{{field.name + 'Minute'}}">
											<mat-option *ngFor="let option of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59]" [value]="option">
												{{option.toString().padStart(2, '0')}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="['duration'].indexOf(field.fieldType) > -1" [hidden]="field.readOnly || !field.active" class="col-xs-12 col-md-6 col-lg-4 col-xl-4 kt-margin-bottom-10">
						<mat-form-field class="mat-form-field-fluid">
							<input type="{{field.fieldType}}" matInput [placeholder]="field.title + (field.required ? ' *' : '') + ' (dakika)'" formControlName="{{field.name}}" [errorStateMatcher]="matcher" />
							<mat-error *ngIf="field.required">{{field.title}}
								<strong>zorunludur</strong>
							</mat-error>
						</mat-form-field>
					</div>
				</ng-container>
			</div>
		</form>
	</kt-portlet-body>
	<kt-portlet-footer>
		<div class="kt-form__actions kt-form__actions--solid" style="padding: 18px; padding-bottom: 0px">
			<div class="row text-right">
				<div class="col-lg-12">
					<div *ngIf="model.apiName !== 'invoice_lists'">
						<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Değişiklikleri iptal et">
							İptal
						</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isButtonClicked || (loading$ | async)" matTooltip="Değişiklikleri kaydet">
							Kaydet
						</button>
					</div>
					<div *ngIf="model.apiName === 'invoice_lists'" class="d-flex justify-content-center">
						<button type="button" mat-raised-button color="warn" [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Değişiklikleri iptal et">
							Vazgeç
						</button>
						<span class="mx-2"></span>
						<button type="button" mat-raised-button [style.background-color]="'green'" [style.color]="'white'" (click)="onSendAnother()" [disabled]="loading$ | async" matTooltip="Muhasebeye Geri Gönder">
							Muhasebeye Geri Gönder
						</button>
						<span class="mx-2"></span>
						<button *ngIf="this.baseService.getUser().birim.label === 'Muhasebe'" type="button" mat-raised-button [style.background-color]="'red'" [style.color]="'white'" (click)="onSendCancel()" [disabled]="loading$ | async" matTooltip="İptal Fatura">
							İptal Fatura
						</button>
						<span class="mx-2"></span>
						<button type="button" mat-raised-button [style.background-color]="'black'" [style.color]="'white'" (click)="onSendRepeat()" [disabled]="loading$ | async" matTooltip="Mükerrer Fatura">
							Mükerrer Fatura
						</button>
						<span class="mx-2"></span>
						<button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isButtonClicked || (loading$ | async)" matTooltip="Talimata Dönüştür">
							Onayla ve Talimata Dönüştür
						</button>
					</div>
				</div>
			</div>
		</div>
	</kt-portlet-footer>
</kt-portlet>

<ng-template #customerMapModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Haritada Bul</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div style="width: 720px; height: 300px;" leaflet [leafletOptions]="leafletOptions" [leafletLayers]="leafletLayers" [leafletCenter]="leafletCenter" (leafletMapReady)="leafletOnMapReady($event)" (leafletDoubleClick)="leafletDoubleClick($event)">
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" mat-raised-button (click)="useCurrentLocation()" matTooltip="Güncel Konumu Kullan">
			Güncel Konumu Kullan
		</button>
		<button type="button" mat-raised-button color="primary" (click)="d('Cross click')" matTooltip="Lokasyonu onayla">
			Tamam
		</button>
	</div>
</ng-template>
