<kt-grid #mainGrid [entity]="model.name" owner="HIERARCHY_D" (rowClick)="rowClicked($event)" (change)="listChange()" [buttons]="buttons" [hidden]="current || isCalendar || !utils.hasOperation('Teklif_Goruntuleme')"></kt-grid>

<ng-container *ngIf="isCalendar">
	<kt-portlet>
		<kt-portlet-header [class]="'kt-portlet__head--lg'">
			<ng-container ktPortletTitle>
				<button mat-icon-button mat-button matTooltip="Geri dön" (click)="calendarView(false)" class="kt-margin-r-5">
					<mat-icon>keyboard_arrow_left</mat-icon>
				</button>
			</ng-container>
			<ng-container ktPortletTools>
				<div class="page-header-buttons">

				</div>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<div class="kt-portlet">
				<div class="m-portlet__body m-portlet__body--no-padding">
					<full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" (dateClick)="dateClick($event)" (eventClick)="eventClick($event)" locale="tr" [buttonText]="{
									today: 'Bugün',
									month: 'Ay',
									week: 'Hafta',
									day: 'Gün',
									list: 'Liste'}">
					</full-calendar>
				</div>
			</div>
		</kt-portlet-body>
	</kt-portlet>
</ng-container>

<ng-container *ngIf="current">
	<kt-portlet>
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<button mat-icon-button mat-button matTooltip="Geri dön" (click)="resetCurrent()" class="kt-margin-r-5">
					<mat-icon>keyboard_arrow_left</mat-icon>
				</button>
				<h3 class="kt-portlet__head-title">
					<span>Teklif Detayı</span>
				</h3>
			</ng-container>
			<ng-container ktPortletTools>
				<div class="page-header-buttons">
					<button *ngIf="baseService.getPermissionRule(model.name,'delete')" mat-icon-button class="btn btn-label-brand kt-margin-l-10" color="warn" matTooltip="Sil" (click)="delete(current)" [disabled]="loading$ | async">
						<mat-icon>delete</mat-icon>
					</button>
					<button *ngIf="baseService.getPermissionRule(model.name,'update')" mat-icon-button class="btn btn-label-brand kt-margin-l-10" color="primary" matTooltip="Düzenle" (click)="mainGrid.edit(current)">
						<mat-icon>create</mat-icon>
					</button>
					<!--<button mat-icon-button class="btn btn-label-brand kt-margin-l-10" color="primary" matTooltip="Satın Alma Dosyasını İndir" (click)="showFiles()">
						<mat-icon>file_download</mat-icon>
					</button> -->
					<kt-filemanager [(current)]="current" [model]="model"></kt-filemanager>

					<button *ngIf="baseService.getPermissionRule(model.name,'update')" mat-icon-button class="btn btn-label-brand kt-margin-l-10" color="primary" matTooltip="Yeni Talep Oluştur" (click)="mainGrid.add(current)">
						<mat-icon>add_box</mat-icon>
					</button>
				</div>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-detail [(current)]="current" [model]="model" naked="true"></kt-detail>
		</kt-portlet-body>
	</kt-portlet>

	<kt-portlet>
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<h3 class="kt-portlet__head-title">
					Dosyalar
				</h3>
			</ng-container>
			<ng-container ktPortletTools>
				<div>
					<button type="button" class="close" mat-dialog-close matTooltip="Kapat">
						<span>&times;</span>
					</button>
				</div>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-filemanagertool #fileManagerTool [(current)]="current" [model]="model"></kt-filemanagertool>
		</kt-portlet-body>
	</kt-portlet>
	<!--<kt-portlet>
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<h3 class="kt-portlet__head-title">
					Ürünler
				</h3>
			</ng-container>
			<ng-container ktPortletTools>
				<button (click)="contproductGrid.add()" mat-raised-button matTooltip="Yeni Ürün oluştur" type="button">
					Yeni Ürün
				</button>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-grid #contproductGrid [showButtons]="true" entity="ContProduct" mode="Compact" [defaultFilter]="defaultFilter" [defaultValues]="defaultValues"></kt-grid>
		</kt-portlet-body>
	</kt-portlet> -->
</ng-container>
