<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
			<h3 class="kt-portlet__head-title">
				Dosya Yükleme Formu
			</h3>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="button-container" style="display: flex; justify-content: center; gap: 10px;">
			<input type="file" (change)="onFileSelected($event)" accept=".png, .jpeg, .jpg, .pdf">
			<button type="button" mat-raised-button color="primary" (click)="onUploadClick()" matTooltip="Yükle">
				Yükle
			</button>
		</div>
		<div [hidden]="isUploading" class="loading-container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
			<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			<span style="font-size: 20px; color: #333; margin-top: 10px;">FATURA YÜKLENİYOR...</span>
		</div>
	</kt-portlet-body>
</kt-portlet>

