<kt-grid #mainGrid [entity]="model.name" owner="HIERARCHY_D" (rowClick)="rowClicked($event)" (change)="listChange()" [buttons]="buttons" [hidden]="current || isCalendar || !utils.hasOperation('Izinler_Goruntuleme')"></kt-grid>

<ng-container *ngIf="current">

	<kt-portlet>
		<kt-portlet-header>
			<ng-container ktPortletTitle>
				<button mat-icon-button mat-button matTooltip="Geri dön" (click)="resetCurrent()" class="kt-margin-r-5">
					<mat-icon>keyboard_arrow_left</mat-icon>
				</button>
				<h3 class="kt-portlet__head-title">
					<span>Mazeret İzni Detayı <span style="color: #999999">&nbsp;({{current.instanceName}})</span></span>
				</h3>
			</ng-container>
			<ng-container ktPortletTools>
				<div class="page-header-buttons">
					<button *ngIf="baseService.getPermissionRule(model.name,'update')" mat-icon-button class="btn btn-label-brand kt-margin-l-10" color="primary" matTooltip="Düzenle" (click)="mainGrid.edit(current)">
						<mat-icon>create</mat-icon>
					</button>

					<button *ngIf="baseService.getPermissionRule(model.name,'delete')" mat-icon-button class="btn btn-label-brand kt-margin-l-10" color="warn" matTooltip="Sil" (click)="delete(current)" [disabled]="loading$ | async">
						<mat-icon>delete</mat-icon>
					</button>
					<kt-reportmanager [(current)]="current" [model]="model"></kt-reportmanager>
					<kt-filemanager [(current)]="current" [model]="model"></kt-filemanager>

					<!-- <kt-history [(current)]="current" [model]="model"></kt-history> -->
				</div>
			</ng-container>
		</kt-portlet-header>
		<kt-portlet-body>
			<kt-detail [(current)]="current" [model]="model" naked="true"></kt-detail>
		</kt-portlet-body>
	</kt-portlet>
</ng-container>
