<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>Şifrenizi mi unuttunuz?</h3>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
			<div *ngIf="!verificationCodeSent" class="form-group">
				<mat-form-field>
					<mat-label>Kullanıcı Adı</mat-label>
					<input matInput type="text" placeholder="Kullanıcı Adı" formControlName="id" autocomplete="off" style="font-size: medium"/>
					<mat-error *ngIf="isControlHasError('id','required')">
						<strong>Zorunlu alan</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('id','text')">
						<strong>Geçersiz giriş</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('id','minLength')">
						<strong>Uzunluk en az 6 karakter olmalıdır</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('id','maxLength')">
						<strong>Uzunluk en fazla 320 karakter olmalıdır</strong>
					</mat-error>
				</mat-form-field>
				<div *ngIf="!verificationCodeSent" class="kt-login__actions">
					<!--<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">Geri</button>
					<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Gönder</button> -->
					<button routerLink="/auth/login" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">Geri</button>
					<button (click)="submit()" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="buttonLoading ? true : false">Doğrulama Kodu Gönder</button>
				</div>
			</div>
			<!--begin::Action-->

			<!-- Doğrulama kodu gönderildikten sonra gösterilecek form alanları -->
			<div *ngIf="verificationCodeSent" class="form-group">
				<mat-form-field>
					<mat-label>Doğrulama Kodu</mat-label>
					<input matInput type="text" placeholder="Doğrulama Kodu" formControlName="verificationCode" autocomplete="off" style="font-size: medium"/>
					<mat-error *ngIf="isControlHasError('verificationCode', 'required')">
						<strong>Zorunlu alan</strong>
					</mat-error>
					<!-- ... error messages ... -->
				</mat-form-field>

				<mat-form-field>
					<mat-label>Yeni Şifre</mat-label>
					<input matInput type="password" placeholder="Yeni Şifre" formControlName="newPassword" autocomplete="off" style="font-size: medium"/>
					<mat-error *ngIf="isControlHasError('newPassword', 'required')">
						<strong>Zorunlu alan</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('newPassword','minLength')">
						<strong>Uzunluk en az 6 karakter olmalıdır</strong>
					</mat-error>
					<!-- ... error messages ... -->
				</mat-form-field>

				<mat-form-field>
					<mat-label>Şifre Tekrarı</mat-label>
					<input matInput type="password" placeholder="Şifre Tekrarı" formControlName="confirmPassword" autocomplete="off" style="font-size: medium"/>
					<mat-error *ngIf="isControlHasError('confirmPassword', 'required')">
						<strong>Zorunlu alan</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('newPassword','minLength')">
						<strong>Uzunluk en az 6 karakter olmalıdır</strong>
					</mat-error>
					<!-- ... error messages ... -->
				</mat-form-field>

				<div class="kt-login__actions">
					<button (click)="submit2()" class="btn btn-primary btn-elevate kt-login__btn-primary">{{ verificationCodeSent ? 'Şifre Güncelle' : 'Gönder' }}</button>
				</div>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>

