kt-grid {
	.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
		background-color: #f4516c !important;
	}

	.mat-slide-toggle-bar {
		background-color: #f4516c !important;
	}

	.kt-nav__link {
		cursor: pointer;
	}
	.payment_color_info {
		display: inline-block;
		color: black;
		border: 1px solid black;
		padding: 5px;
		margin-left: 10px;
	}
	.priority_muk {
		background-color: #000000;
		mat-cell {
			font-weight: bold;
			color: #99a6bf;
		}
	}

	.priority_error {
		background-color: #900f13;
		mat-cell {
			font-weight: bold;
			color: seashell;
		}
	}

	.priority_cancel {
		background-color: #36344d;
		mat-cell {
			font-weight: bold;
			color: seashell;
		}
	}

	.priority_low {
		background-color: #7bdcff;
	}

	.priority_medium {
		background-color: #ffee00d8;
	}

	.priority_high {
		background-color: #00bf00;

		mat-cell {
			font-weight: bold;
		}
	}
	.priority_spend_success {
		background-color: #00bf00;

		mat-cell {
			font-weight: bold;
		}
	}
	.priority_payment_order_success {
		background-color: #00bf00;

		mat-cell {
			font-weight: bold;
		}
	}
	.priority_payment_order_okey {
		background-color: #7bdcff;
		mat-cell {
			font-weight: bold;
		}
	}
	.priority_payment_order_acikOdeme {
		background-color: #8a0dff;
		animation: blink 2s infinite;
		border-style: solid;
		mat-cell {
			font-weight: bold;
			color: white;
		}
	}
	.priority_payment_order_wait {
		border: 3px inset transparent; /* İlk çerçeve, boyutu ayarlayabilirsiniz */
		border-image: linear-gradient(90deg, transparent, #FFD700, transparent); /* İlk çerçeve rengi (sarı) */
		border-image-slice: 1; /* Bu değeri çerçevenin boyutuna bağlı olarak ayarlayın */
		animation: borderAnimation 2s linear infinite; /* Bir tam döngü için 4 saniye, ihtiyaca göre ayarlayın */

	}
	@keyframes borderAnimation {
		0% {
			border-image-source: linear-gradient(90deg, transparent, #FFD700, transparent); /* Kuyruk başlangıcı (sarı) */
		}
		25% {
			border-image-source: linear-gradient(0deg, transparent, #FF4500, transparent); /* Sağa hareket (turuncu) */
		}
		50% {
			border-image-source: linear-gradient(270deg, transparent, #FF0000, transparent); /* Aşağı hareket (kırmızı) */
		}
		75% {
			border-image-source: linear-gradient(180deg, transparent, #FF4500, transparent); /* Sola hareket (turuncu) */
		}
		100% {
			border-image-source: linear-gradient(90deg, transparent, #FFD700, transparent); /* Yukarı hareket (sarı), başlangıça geri dön */
		}
	}
	@keyframes blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.priority_payment_order_cancel {
		background-color: #900f13;

		mat-cell {
			font-weight: bold;
		}
	}
	.priority_payment_order_half_success {
		background-color: #47CEAC;

		mat-cell {
			font-weight: bold;
		}
	}
	.priority_payment_order_oto_success {
		background-color: #bb7f00;

		mat-cell {
			font-weight: bold;
		}
	}
	.priority_payment_order_dbs {
		background-color: #36344d;

		mat-cell {
			font-weight: bold;
			color: white;
		}
	}
	.priority_dbs {
		background-color: #0f695f;

		mat-cell {
			font-weight: bold;
			color: white;
		}
	}
	.priority_spend_cancel {
		background-color: #900f13;

		mat-cell {
			font-weight: bold;
		}
	}
	.store_delivery_status_tes {
		background-color: #0f695f;
		mat-cell {
			font-weight: bold;
			color: seashell;
		}
	}
	.fuel_limit_okey {
		background-color: #0f695f;
		mat-cell {
			font-weight: bold;
			color: seashell;
		}
	}
	.fuel_limit_cancel {
		background-color: #b31217;
		mat-cell {
			font-weight: bold;
			color: seashell;
		}
	}
	.mat-icon-button {
		width: 30px !important;
		height: 30px !important;
		line-height: unset !important;
	}

	.grid-header-buttons {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
	}

	.page-header-buttons {
		display: flex;
		align-items: center;
		align-content: flex-end;
	}
}
