kt-detail {
	.kt-widget4__item {
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
		display: block;
	}

	.mat-icon-button {
		width: 30px !important;
		height: 30px !important;
		line-height: unset !important;
	}
}
