<kt-portlet>
	<div class="modal-header">
		<h4 class="modal-title">Ek Limit Talebi Risk Detayları</h4>
		<div class="ml-auto">
			<button mat-icon-button class="btn btn-danger" color="primary" matTooltip="Kapat" (click)="onNoClick()">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</div>
	<kt-portlet-body style="font-size: 15px">
		<br/>
		<div style="text-align: center; background-color: #222; padding: 10px;">
			<h4 style="font-weight: bold; font-size: 20px; color: #fff;">RİSK DETAYLARI</h4>
		</div>
		<table class="table table-striped" style="text-align: center; table-layout: auto; width: 100%; border: 1px solid #000;">
			<thead>
			<tr>
				<th>Cari Unvanı</th>
				<th>Banka Adı</th>
				<th>Dbs Limit</th>
				<th>Onaylı Fatura</th>
				<th>Nakit Risk</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let risk of riskDetay">
				<td>{{ risk.cariUnvan }}</td>
				<td>{{ risk.bankaAdi }}</td>
				<td>{{ formatAmount(risk.dbsLimit) + ' TL' }}</td>
				<td>{{ formatAmount(risk.onayliFatura) + ' TL' }}</td>
				<td>{{ formatAmount(risk.nakitRisk) + ' TL' }}</td>
			</tr>
			</tbody>
		</table>
		<br/>
		<div style="text-align: center; background-color: #222; padding: 10px;">
			<h4 style="font-weight: bold; font-size: 20px; color: #fff;">LİMİTLER</h4>
		</div>
		<table class="table table-striped" style="text-align: center; table-layout: auto; width: 100%; border: 1px solid #000;">
			<tr>
				<td style="font-weight: bold;">TOPLAM KULLANILABİLİR LİMİT</td>
				<td style="font-weight: bold;">TOPLAM DBS LİMİTİ</td>
				<td style="font-weight: bold;">MEVCUT TÜKETİM</td>
				<td style="font-weight: bold;">FARK</td>
			</tr>
			<tr>
				<td [style.color]="this.toplamLimit > this.toplamDbsLimit ? 'red' : 'black'" style="font-weight: bold; font-size: 18px;">
					{{ formatAmount(this.toplamLimit) + ' TL' }}
				</td>
				<td style="font-weight: bold; font-size: 18px">{{ formatAmount(this.toplamDbsLimit) + ' TL' }}</td>
				<td style="font-weight: bold; font-size: 18px">{{ formatAmount(this.mevcutTuketim) + ' TL' }}</td>
				<td style="font-weight: bold; font-size: 18px">{{ formatAmount((this.toplamLimit - this.mevcutTuketim)) + ' TL' }}</td>
			</tr>
		</table>
	</kt-portlet-body>
</kt-portlet>
