<div class="kt-widget12">
	<div class="kt-widget12__content">
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Cemal Elitaş (İdari ve Finansal İşler Müdürü)</h5>
				<span class="kt-widget12__desc">0 (531) 564 46 36</span>
				<span class="kt-widget12__desc">ifim@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Mete Öcal (BT Şefi)</h5>
				<span class="kt-widget12__desc">0 (543) 834 72 91</span>
				<span class="kt-widget12__desc">mete@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">t.ozkan@meteorpetrol.com</span>
			</div>
			<div class="kt-widget12__info">
				<h5>Hikmet KOÇ (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (544) 245 83 91</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
			</div>
		</div>
	</div>

	<!--<div class="kt-widget12__content">
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">Aylık Motorin</span>
				<span class="kt-widget12__desc">Saturn 22</span>
				<h5>Özkan Tabak (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (530) 387 00 49</span>
				<span class="kt-widget12__desc">otabak@starsarj.com.tr</span>
				<span class="kt-widget12__value">{{data.monthlyDiesel | number:'0.0-0'}}</span>
			</div>
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">Aylık Benzin</span>
				<span class="kt-widget12__desc">Aurora 7/11</span>
				<h5>Mete Öcal (BT Şefi)</h5>
				<span class="kt-widget12__desc">0 (543) 834 72 91</span>
				<span class="kt-widget12__desc">mete@meteorpetrol.com</span>
				<span class="kt-widget12__value">{{data.monthlyGas | number:'0.0-0'}}</span>
			</div>
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">Aylık Toplam</span>
				<span class="kt-widget12__desc">Venus 30</span>
				<h5>Hikmet Koç (BT Destek)</h5>
				<span class="kt-widget12__desc">0 (546) 451 55 41</span>
				<span class="kt-widget12__desc">hikmet@meteorpetrol.com</span>
				<span class="kt-widget12__value">{{data.monthlyTotal | number:'0.0-0'}}</span>
			</div>
		</div>
		<div class="kt-widget12__item">
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">Yıllık Motorin</span>
				<span class="kt-widget12__desc">Jupiter 60</span>
				<h5>Cemal Elitaş (İFİM)</h5>
				<span class="kt-widget12__desc">0 (531) 564 46 36</span>
				<span class="kt-widget12__desc">ifim@meteorpetrol.com</span>
				<span class="kt-widget12__value">{{data.totalDiesel | number:'0.0-0'}}</span>
			</div>
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">Yıllık Benzin</span>
				<span class="kt-widget12__desc">Nova 360</span>
				<h5>Bensu Molla Çakır (İK)</h5>
				<span class="kt-widget12__desc">0 (533) 157 26 75</span>
				<span class="kt-widget12__desc">bensu@meteorpetrol.com</span>
				<span class="kt-widget12__value">{{data.totalGas | number:'0.0-0'}}</span>
			</div>
			<div class="kt-widget12__info">
				<span class="kt-widget12__desc">Yıllık Toplam</span>
				<span class="kt-widget12__desc">Neptune 180</span>
				<h5>Murat Gedik (İGM)</h5>
				<span class="kt-widget12__desc">0 (549) 360 50 01</span>
				<span class="kt-widget12__desc">muratgedik@meteorpetrol.com</span>
				<span class="kt-widget12__value">{{data.total | number:'0.0-0'}}</span>
			</div>
		</div>
	</div>
	<div class="kt-widget12__chart" style="height:250px;">
		<canvas #chart id="kt_chart_order_statistics" width="683" height="312"></canvas>
	</div>-->
</div>
